@font-face {
    src: url(/project_3/fonts/OpenSans-Regular.ttf);
    font-family: OpenSans-Regular;
}

@font-face {
    src: url(/project_3/fonts/OpenSans-SemiBold.ttf);
    font-family: OpenSans-SemiBold;
}

@font-face {
    src: url(/project_3/fonts/OpenSans-Light.ttf);
    font-family: OpenSans-Light;
}